<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs", { titulo: "Plataforma toma de muestras"}) %>
  <body class="hold-transition sidebar-mini layout-fixed dark-mode">
    <div class="wrapper">
      <%- include("./partials/navbar.ejs") %>
        <%- include("./partials/navbar-left.ejs") %>
          <div class="content-wrapper">
            <div class="content-header">
              <div class="container-fluid">
                <h1>Bienvenido</h1>
              </div>
            </div>
          </div>
          <%- include("./partials/footer.ejs") %>
      </div>
    <%- include("./partials/scripts.ejs") %>
  </body>
</html>