<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs", {titulo: "Editar mi perfil" }) %>

  <body class="hold-transition sidebar-mini layout-fixed dark-mode">
    <div class="wrapper">
      <%- include("../partials/navbar.ejs") %>
        <%- include("../partials/navbar-left.ejs") %>
          <div class="content-wrapper">
            <div class="content-header">
              <div class="container-fluid">
                <div class="row mb-2">
                  <div class="col-sm-6">
                    <!-- Espacio para colocar un titulo general<h1 class="m-0">Dashboard</h1> -->
                  </div>
                </div>
                <section class="content">
                  <div class="container-fluid col-10">
                    <div class="card card-info">
                      <div class="card-header">
                        <h3 class="card-title"><i class="fas fa-user-edit"></i> Modificar usuario</h3>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <!-- /.card-header -->
                          <div class="card-body">
                            <form action="/users/profile/<%= user.id %>?_method=PATCH" id="formProfile" method="POST">
                              <div class="input-group mb-3 form-group">
                                <div class="input-group bg-dark">
                                <input type="text" name="first_name" class="form-control bg-dark" placeholder="Nombre"
                                  value="<%= user.first_name %>">
                                <div class="input-group-append">
                                  <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                  </div>
                                </div>
                              </div>
                              </div>
                              <div class="input-group mb-3 form-group">
                                <div class="input-group bg-dark">
                                <input type="text" name="last_name" class="form-control bg-dark" placeholder="Apellido"
                                  value="<%= user.last_name %>">
                                <div class="input-group-append">
                                  <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                  </div>
                                </div>
                                </div>
                              </div>  
                              <div class="input-group mb-3 form-group">
                                <div class="input-group bg-dark">
                                <input type="password" name="password" id="password" class="form-control bg-dark"
                                  placeholder="Contraseña">
                                <div class="input-group-append">
                                  <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                  </div>
                                </div>
                              </div>
                              </div>
                              <div class="input-group mb-3 form-group">
                                <div class="input-group bg-dark">
                                <input type="password" name="repeatPassword" class="form-control bg-dark"
                                  placeholder="Repetir contraseña">
                                <div class="input-group-append">
                                  <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                  </div>
                                </div>
                                </div>
                              </div>
                              <br>
                              <div class="row"> 
                                <div class="col-8">
                                  <div class="input-group bg-dark">
                                    <a href="/home" class="btn btn-secondary" style="margin-right:10px;"><i class="fas fa-reply"></i> Volver</a>
                                    <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Guardar</button>
                                  </div>
                                </div>
                              </div>
                            </form>
                            <% if (locals.errors && errors.first_name) { %>
                              <p style="color: rgb(204, 29, 29);">
                                <%= errors.first_name.msg%>
                              </p>
                            <% } %>
                            <% if (locals.errors && errors.last_name) { %>
                              <p style="color: rgb(204, 29, 29);">
                                <%= errors.last_name.msg%>
                              </p>
                            <% } %>
                            <% if (locals.errors && errors.password) { %>
                              <p style="color: rgb(204, 29, 29);">
                                <%= errors.password.msg%>
                              </p>
                            <% } %>
                            <% if (locals.errors && errors.repeatPassword) { %>
                              <p style="color: rgb(204, 29, 29);">
                                <%= errors.repeatPassword.msg%>
                              </p>
                            <% } %>
                          </div>
                          <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                      </div>
                      <!-- /.col -->
                    </div>
                    <!-- /.row -->
                  </div>
                </section>
              </div>
            </div>
          </div>
    </div>
    <%- include("../partials/scripts.ejs") %>
    <%- include("../partials/footer.ejs") %>
    <script src="/js/user.js"></script>
  </body>

</html>