<!DOCTYPE html>
<html lang="en">

<%- include ("../partials/head.ejs", {titulo: "Reestablecer contraseña" }) %>

  <body class="hold-transition login-page bg-dark">
    <div class="login-box bg-dark">
      <div class="card card-outline card-primary bg-dark">
        <div class="card-header text-center">
          <a class="h1"><b>Reestablecer contraseña</b></a>
        </div>
        <div class="card-body">
          <form action="/users/change" id="formChange" method="POST">
            <% if (alert) { %>
              <script>
                swal("Atención", "El token o el correo no son correctos.", "error");
              </script>
            <% } %>
            <% if (locals.errors && errors.email) { %>
              <%= errors.email.msg%>
            <% } %>
            <div class="input-group mb-3 form-group">
              <div class="input-group bg-dark">
              <input type="text" name="email" class="form-control bg-dark" placeholder="Correo" value="<%= locals.oldData ? oldData.email : null %>">
              <div class="input-group-append">
                <div class="input-group-text bg-dark">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
              </div>
            </div>
            <% if (locals.errors && errors.token) { %>
              <%= errors.token.msg%>
            <% } %>
            <div class="input-group mb-3 form-group">
              <div class="input-group bg-dark">
              <input type="text" name="token" class="form-control bg-dark" placeholder="Codigo enviado al correo" value="<%= locals.oldData ? oldData.token : null %>">
              <div class="input-group-append">
                <div class="input-group-text bg-dark">
                  <span class="fas fa-key"></span>
                </div>
              </div>
            </div>
            </div>
            <% if (locals.errors && errors.password) { %>
              <%= errors.password.msg%>
            <% } %>
            <div class="input-group mb-3 form-group">
              <div class="input-group bg-dark">
              <input type="password" id="password" name="password" class="form-control bg-dark" placeholder="Ingresa tu contraseña">
              <div class="input-group-append">
                <div class="input-group-text bg-dark">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            </div>
            <% if (locals.errors && errors.repeatPassword) { %>
              <%= errors.repeatPassword.msg%>
            <% } %>
            <div class="input-group mb-3 form-group">
              <div class="input-group bg-dark">
              <input type="password" name="repeatPassword" class="form-control bg-dark"
                placeholder="Repite tu contraseña">
              <div class="input-group-append">
                <div class="input-group-text bg-dark">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            </div>
            <% if (locals.errors && errors.captcha) { %>
              <%= errors.captcha.msg%>
            <% } %>
            <div class="input-group mb-0 form-group">
              <div class="mtcaptcha" style="width: 100%;"></div>
            </div>
            <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-primary btn-block">Enviar contraseña</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <%- include("../partials/scripts.ejs") %>
  <script src="/js/recovery.js"></script>
  </body>

</html>